/*results.css*/

/* Global */
body {
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #535353;
}

a {
	color: #000099;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	padding: 0;
	list-style-type: none;
}

.light-grey {
	color: #808080;
}

.grey-header {
	color: #808080;
}

.light-grey a {
	color: #808080;
}

.light-grey a:hover {
	text-decoration: underline;
}

/* Header */
header {
	height: 60px;
	background-color: #F2F2F2;
	bottom-border: 1px solid #E4E4E4;
}

/* NEED BETTER WAY */
/*#header-wrap,
#menu-wrapper {
	min-width: 110em;
}*/


#header-left {
	float: left;
	margin: 5px 0 0 5px;
}

#header-right {
	float: right;
	margin: 2px 31px 0 0;
}

#logo {
	position: inline;
	vertical-align: middle;
	margin: -2px 0 0 2px;
}

#searchbox {
	position: inline;
	vertical-align: middle;
	border: 1px solid #D9D9D9;
	width: 579px;
	height: 26px;
	margin: 2px -3px 0 8px;
	padding-left: 10px;
	font-size: 16px;
}

#searchbox:hover {
	border: 1px solid #B3B3B3;
}

#searchbox:focus {
	border: 1px solid #4285F4;
}

#apps-icon {
	vertical-align: middle;
	margin-bottom: 1px;
	margin-right: 10px;
	opacity: 0.6;
}

#apps-icon:hover {
	opacity: 1;
}

.header-button {
	background-color: #6080FB;
	color: #FFFFFF;
	border: none;
	font-size: 13px;
	font-weight: bold;
	border-radius: 0;
}

.header-button:hover {
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#login-button {
	width: 69px;
	height: 30px;
	margin-left: 8px;
	margin-top: -1px;
}

#search-button {
	position: inline;
	vertical-align: middle;
	width: 60px;
	height: 30px;
	padding: 4px;
	margin: 0 0 -2px -3px;
}

.menu li {
	display: inline;
}


/* Top Menu */
#menu-wrapper {
	position: relative;
	border-bottom: 1px solid #F2F2F2;
	height: 38px;
	/*width: 100%;*/
}

#top-menu {
	position: inline;
	vertical-align: middle;
	margin-top: 21px;
	margin-left: 123px;
	min-width: 600px;
}

#gear-button {
	position: absolute;
	right: 0;
	margin-right: 30px;
	margin-top: -5px;
	width: 70px;
	height: 30px;
	padding-top: 2px;
	background-color: #F3F3F3;
	border: 1px solid #DCDCDC;
}

#gear-button:hover{
	background-color: #F6F6F6;
	border: 1px solid #C6C6C6;
	color: #3D3D3D;
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#gear {
	opacity: 0.7;
}

#gear:hover {
	opacity: 1;
}

.grey-link a {
	color: #808080;
}

.grey-link a:hover {
	text-decoration: none;
	color: black;
}

.grey-link li {
	margin-right: 29px;
}

.menu-highlight {
	font-weight: bold;
	color: #DD4B39;
}

#web-div {
	border: 1.5px solid #DD4B39;
	width: 40px;
	margin-left: 128px;
	position: absolute;
	bottom: 0;
}

/* Search Result Content */
#top-ads, 
#result-list, 
#related-searches{
	position: relative;
	margin-left: 135px;
	width: 538px;
	border-bottom: 1px solid #E4E4E4;
}

.rating-text, 
.result-url,
.light-grey,
.result-desc {
	margin-top: 1px;
	margin-bottom: 1px;
}

#large-ad-info {
	position: absolute;
	right: 0;
	margin-top: 4px;
}

.rating-text {
	color: #E7711B;
}

#ad-link-wrap {
	height: 50px;
	padding-left: 30px;
	margin-bottom: -5px;
	margin-top: 0;
}

#left-ad-links {
	position: inline;	
	width: 50%;
	/*padding-left: 29px;*/
	float: left;
	margin-top: 5px;
}

#left-ad-links li {
	padding-bottom: 4px;
}

#right-ad-links {
	position: inline;
	width: 50%;
	float: right;
	margin-top: 5px;
}

#right-ad-links li {
	padding-bottom: 4px;
}

.ad-links {
	margin-top: 1px;
}

#last-ad {
	margin-bottom: 15px;
}

.ad-img,
.green-arrow,
.grey-arrow {
	padding-right: 2px;
	margin-bottom: 2px;
	position: inline;
	vertical-align: middle;
}

.green-arrow,
.grey-arrow {
	margin-left: 2px;
}

.grey-arrow {
	opacity: 0.5;
}

.grey-arrow:hover {
	opacity: 1;
}

#result-list {
	padding-bottom: 6px;
}

#related-title {
	margin-bottom: -3px;
	margin-top: 15px;
}

#related-searches li {
	margin-bottom: 8px;
}


.result-header {
	font-size: 18px;
	margin-bottom: 0;
}

.result-url {
	color: green;
	position: inline;
	vertical-align: middle;
}

.result-url > a {
	color: green;
}

.result-desc {
	width: 490px;
	line-height: 135%;
}

.result-links {
	/*color: #000099;*/
}

.query {
	font-weight: bold;
}

#related-searches p {
	font-size: 18px;
}

#related-searches ul {
	font-size: 15px;
}


/* Gooooogle Pagination */
#pagination {
	/*position: relative;*/
	margin-top: 24px;
	margin-left: 230px;
	width: 550px;
}

#pagination ul {
	margin-left: 2px;
	margin-top: 0;
}

#pagination img {
	margin: 0;
	padding: 0;
}

#numbers {
	margin-left: 40px;
}

#pagination li {
	display: inline;
	padding-right: 4px;
	margin-right: 5px;
}

#ten {
	position: relative;
	margin-left: -2px;
}

.next {
	position: relative;
	margin-left: 42px;
	font-weight: bold;
}


/* Footer */

footer {
	background-color: #F2F2F2;
	border-top: 1px solid #E4E4E4;
	height: 50px;
	width: 100%;
	font-size: 13px;
	bottom: 0;
	min-width: 1000px;
	margin-top: 30px;
}

#left-footer {
	margin: 22px 0 0 135px;
}